input.classSearchField {
    position: absolute;
    height: 34px;
    border-radius: 20px;
    width: 0px;
    margin: 10px;
    padding: 0px;
    border: 0px;
    top: -2px;
    opacity: 0;
    background-color: white;
    transition: width 0.2s, padding 0.2s, margin 0.2s;
    text-transform: uppercase;
}

input.classSearchField.expanded {
    width: 150px;
    padding: 3px;
    padding-left: 50px;
    margin: 7px;
    opacity: 1;
}

button.classSearch,
        button.classSearch:active,
        button.classSearch:focus {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: 0px;
    outline: none;
    top: 0px;
    margin: 5px;
}

button.classSearch > span {
    background-color: #56407f;
    width: 6px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: background-color 0.1s, transform 0.2s, height 0.2s;
}

button.classSearch > span:first-child {
    transform: translate(16.5px, 5px);
}

button.classSearch > span:nth-child(2) {
    transform: translate(16.5px, 5px) rotate(90deg);
}

button.classSearch:hover {
    cursor: pointer;
}

button.classSearch:hover > span:first-child,
        button.classSearch.expanded > span:first-child,
        button.classSearch.expanded.ready > span:first-child {
    transform: translate(18.5px, 10px) rotate(67.5deg);
}

button.classSearch:hover > span:nth-child(2),
        button.classSearch.expanded > span:nth-child(2),
        button.classSearch.expanded.ready > span:nth-child(2) {
    transform: translate(18.5px, 0px) rotate(112.5deg);
}

button.classSearch.expanded > span:first-child {
    transform: translate(16.5px, 5px) rotate(45deg);
}

button.classSearch.expanded > span:nth-child(2) {
    transform: translate(16.5px, 5px) rotate(135deg);
}


button.classSearch.expanded > span {
    background-color: #aa4547;
}

button.classSearch.expanded:hover > span {
    background-color: #ed6164;
}


button.classSearch.expanded.ready > span {
    background-color: #7fb3ee;
}