button.closeButton,
        button.closeButton:active,
        button.closeButton:focus,
        button.closeButton::-moz-focus-inner {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    border: 0px;
    outline: none;
    top: 0px;
    right: 0px;
    cursor: pointer;
    display: inline-block;
}

button.closeButton > span {
    background-color: #aa4547;
    width: 6px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: background-color 0.1s, transform 0.1s, height 0.1s;
}

button.closeButton:hover > span {
    background-color: #ed6164;
}

button.closeButton > span:first-child {
    transform: translate(16.5px, 5px) rotate(45deg);
}

button.closeButton > span:nth-child(2) {
    transform: translate(16.5px, 5px) rotate(135deg);
}
