<div>
    <input #courseCode
        class='classSearchField'
        [class.expanded]='this.isExpanded'
        [class.ready]='this.isReady'
        (keyup.enter)='this.handleEnterPress(courseCode.value)'
        (keyup.escape)='this.handleEscapePress()'
        (input)='this.searchText=$event.target.value'
        (keyup)='this.handleTextChange(courseCode.value)'
        type='text'
        placeholder='Course Code...'
    >

    <button 
        class='classSearch' 
        [class.expanded]='this.isExpanded' 
        [class.ready]='this.isReady'
        (click)='this.handleClick()'
    >
        <span></span>
        <span></span>
    </button>
</div>