div.weeksContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 30px;
    margin-bottom: 25px;
}

button.weekButton {
    border-bottom: 1px solid var(--week-color);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    background: none;
    font-size: 12px;
    font-weight: bold;
    color: var(--week-color);
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: border-bottom 0.1s, color 0.1s;
    margin-bottom: 10px;
}

button.weekButton.selected {
    color: var(--selected-week-color) !important;
    border-bottom: 1px solid var(--selected-week-color) !important;
}
