<!-- <app-controls></app-controls> -->

<div class='classList'>
    <p>Courses</p>
    <div
        class='classObject placeholder'
        *ngIf='!(this.classList?.length > 0)'
    >
        <p><b>Your courses go here</b></p>
    </div>
    <div class='classListWrap'>
        <div
            class='classObject normal'
            *ngFor='let class of this.classList' 
        >
            <p><b>{{class.name}}</b></p>
            <p><b>{{class.description | uppercase}}</b></p>
            
            <fa-icon 
                class='closeButton' 
                [icon]='faTimesCircle' 
                (click)='this.onClassCloseClicked(class.name)'
            ></fa-icon>
        </div>
    </div>
</div>

<app-timetable
    [name]='this.name'
    [classList]='this.classList'
    [editing]='this.editing'
    [editingClassName]='this.editingClassName'
    [editingClassType]='this.editingClassType'
    [selections]='this.selections'
    (sessionClick)='this.handleSessionClicked($event)'
    (titleChange)='this.handleTitleChanged($event)'
>
</app-timetable>

<app-class-search
    (search)='this.onSearched($event)'
></app-class-search>