<div>
    <app-controls
    >
    </app-controls>

    <app-timetable
        [classList]='this.classList'
        [editing]='this.editing'
        [editingClassName]='this.editingClassName'
        [editingClassType]='this.editingClassType'
        [selections]='this.selections'
        [focusedSession]='this.focusedSession'
        (sessionClick)='this.handleSessionClicked($event)'
        (sessionEnter)='this.handleSessionEntered($event)'
        (sessionLeave)='this.handleSessionLeft($event)'
    >
    </app-timetable>

    <div class='classContainer'>
        <div class='classList'>
            <div
                class='classObject'
                *ngFor='let class of this.classList' 
            >
                <p>{{class.name}}</p>
                <app-close-button
                    class='classCloseButton'
                    (click)='this.onClassCloseClicked(class.name)'
                >
                </app-close-button>
            </div>
        </div>

        <app-class-search
            (search)='this.onSearched($event)'
        >
        </app-class-search>
    </div>
</div>