.classList {
    padding-top: 82px;
    float: left;
    margin: 5px;
}

.classList > p {
    font-size: 11px;
    font-weight: bold;
    color: #b4aeb6;
    text-transform: uppercase;
    margin-bottom: 10px;
    max-height: 800px;
}

div.classListWrap {
    max-height: 580px;
    overflow: scroll;
}

div.classObject {
    width: 175px;
    padding: 15px 40px 15px 15px;
    margin-bottom: 10px;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

div.classObject.normal {
    border: 1px solid #715678;
    background-color: #381343;    
}

div.classObject.placeholder {
    border: 2px dashed #68596c;
    text-transform: uppercase;
    height: 360px;
    padding: 80px 35px;
}

div.classObject.placeholder > p {
    width: 100%;
    text-align: center;
    color: #9d89a3;
}

div.classObject > p {
    margin: 3px;
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #b4aeb6;
    transition: color 0.1s;
}

.closeButton:hover {
    color: #918694;
}

app-timetable {
    float: right;
    width: 750px;
}

app-class-search {
    position: fixed;
    left: 40px;
    bottom: 80px;
}
