<div class='title'>
    <input type='text' maxlength='60' placeholder='{{this.plannerService.defaultPlanName()}}' value='{{this.plan.name}}'
        (keyup)='this.handleTitleChanged($event)' />
</div>

<!-- Sidebar -->
<div class='classList'>
    <div class='search'>
        <input #courseCode type='text' placeholder='Add a course' class='classSearchField' maxlength='9'
            (keyup.enter)='courseCode.value = this.onSearched(courseCode.value)'>
        <fa-icon class='searchButton' [icon]='this.searching() ? faCircleNotch : faSearch'
            [class.spin]='this.searching()' (click)='courseCode.value = this.onSearched(courseCode.value)'></fa-icon>
    </div>
    <div class='selectWrap'>
        <select class='semesterSelect' (change)='this.setSemesterHandler($event)'>
            <option *ngFor='let semester of this.semesterOptions' [value]='semester.name'
                [selected]='semester.year == this.plan.year && semester.number == this.plan.semester'>
                {{semester.name}}
                {{(semester.year == this.plan.year && semester.number == this.plan.semester) ? '&nbsp;▾' : ''}}
            </option>
        </select>
        <div class='line'></div>
        <select class='campusSelect' (change)='this.setCampus($event)'>
            <option *ngFor='let campusOption of this.campuses' [value]='campusOption.code'
                [selected]='this.campus == campusOption.code'>
                {{campusOption.name}} {{this.campus == campusOption.code ? '&nbsp;▾' : ''}}
            </option>
        </select>
        <select class='deliveryModeSelect' (change)='this.setDeliveryMode($event)'>
            <option *ngFor='let mode of this.deliveryOptions' [value]='mode.id'
                [selected]='this.deliveryMode.id == mode.id'>
                {{mode.name}} {{this.deliveryMode.id == mode.id ? '&nbsp;▾' : ''}}
            </option>
        </select>
    </div>

    <!-- <p class='labelText'>Courses</p> -->
    <div class='classWrapper'>
        <div class='classObject placeholder' *ngIf='!(this.plan.classes?.length > 0)'>
            <p><b>Search to add courses</b></p>
        </div>
        <div class='classObject normal' *ngFor='let class of this.plan.classes'>
            <p><b>{{class.name}}</b></p>
            <p><b>{{class.description | uppercase}}</b></p>
            <p *ngIf='class.deliveryMode' class='deliveryMode'><b>
                    {{ class.deliveryMode.name }}
                </b></p>

            <fa-icon class='closeButton' [icon]='faTimesCircle' (click)='this.onClassCloseClicked(class.name)'>
            </fa-icon>
        </div>
    </div>
</div>

<!-- Timetable -->
<app-timetable></app-timetable>