.title {
    padding-bottom: 25px;
}

.title > input {
    font-size: 36px;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lato', Arial;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #918694;
}


.title > input::placeholder {
    color: white;
    opacity: 0.5;
}

.search {
    position: relative;
}

input.classSearchField {
    height: 40px;
    border-radius: 6px;
    border: 0px;
    text-transform: uppercase;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.searchButton {
    position: absolute;
    right: 10px;
    line-height: 40px;
    color: #b09fb6;
    transition: color 0.2s;
}

.searchButton:hover {
    color: #715c79;
}

.classList {
    padding-top: 0px;
    float: left;
}

.classList > p {
    font-size: 11px;
    font-weight: bold;
    color: #b4aeb6;
    text-transform: uppercase;
    margin-bottom: 10px;
    max-height: 800px;
}

.classWrapper {
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #90A4AE #CFD8DC00;
}

.classWrapper::-webkit-scrollbar {
    width: 11px;
}

.classWrapper::-webkit-scrollbar-track {
    background: #CFD8DC00;
}

.classWrapper::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 3px solid #CFD8DC00;
}
  
  

div.classObject {
    width: 175px;
    padding: 15px 40px 15px 15px;
    margin-bottom: 10px;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    user-select: none;
}

div.classObject.normal {
    border: 1px solid #715678;
    background-color: #381343;    
}

div.classObject.placeholder {
    border: 2px dashed #68596c;
    text-transform: uppercase;
    height: 360px;
    padding: 80px 35px;
}

div.classObject.placeholder > p {
    width: 100%;
    text-align: center;
    color: #9d89a3;
}

div.classObject > p {
    margin: 3px;
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #b4aeb6;
    transition: color 0.1s;
}

.closeButton:hover {
    color: #918694;
}

app-timetable {
    float: right;
    width: 750px;
}

app-class-search {
    position: fixed;
    left: 40px;
    bottom: 80px;
}
