.title {
  padding-top: 45px;
  padding-bottom: 25px;
}

.title > input {
  font-size: 30px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  color: var(--title-color);
  font-family: 'Lato', Arial;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid var(--title-accent-color);
}

.title > input::placeholder {
  color: var(--title-color);
  opacity: 0.5;
}

.search {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.spin {
  animation: fa-spin 1s infinite ease-in-out;
}

.classSearchField {
  border-radius: 6px;
  border: 1px solid var(--search-border-color);
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  height: 40px;
  padding: 6px 12px;
  color: black;
}

.selectWrap {
  margin-bottom: 36px;
}

.line {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid var(--title-accent-color);
  box-sizing: border-box;
  clear: left;
}

.campusSelect,
.semesterSelect,
.deliveryModeSelect {
  float: left;
  border: none;
  color: var(--bg-label);
  margin-bottom: 4px;
  margin-top: 6px;
  background-color: transparent;
  font-size: 8.5px;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  /* select styling*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/assets/select-arrow.svg') no-repeat right;
}

.campusSelect:focus,
.semesterSelect:focus,
.deliveryModeSelect:focus {
  outline: none;
}

.semesterSelect {
  /* left: -6px; */
}

.campusSelect {
  /* left: 15px; */
}

.deliveryModeSelect {
  margin-left: 10px;
}

.semesterSelect[disabled] {
  -webkit-appearance: none;
  left: 0px;
}

.searchButton {
  position: absolute;
  right: 10px;
  line-height: 40px;
  color: var(--search-button-color);
  transition: filter 0.2s;
}

.searchButton:hover {
  filter: brightness(0.5);
}

.classList {
  padding-top: 0px;
  margin-top: -8px;
  float: left;
  width: 18%;
  min-width: 160px;
}

.labelText {
  font-size: 10px;
  font-weight: bold;
  color: var(--bg-label);
  text-transform: uppercase;
  margin-bottom: 10px;
  max-height: 800px;
  clear: both;
}

.classWrapper {
  margin: 0;
  padding: 0;
  max-height: 630px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(168, 168, 168) rgba(223, 223, 223, 0);
  width: 100%;
}

.classWrapper::-webkit-scrollbar {
  width: 11px;
}

.classWrapper::-webkit-scrollbar-track {
  background: rgba(218, 218, 218, 0);
}

.classWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 6px;
  border: 3px solid rgba(221, 221, 221, 0);
}

div.classObject {
  width: 100%;
  padding: 13px 35px 13px 13px;
  margin-bottom: 10px;
  color: var(--class-list-color);
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  user-select: none;
}

div.classObject.normal {
  border: 1px solid var(--accent-color);
  background-color: var(--class-list-bg);
}

div.classObject.placeholder {
  border: 2px dashed var(--bg-label);
  text-transform: uppercase;
  height: 360px;
  padding: 80px 35px;
  opacity: 0.7;
}

div.classObject.placeholder > p {
  width: 100%;
  text-align: center;
  color: var(--bg-label);
  opacity: 0.7;
}

div.classObject > p {
  margin: 3px;
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-size: 11px;
  color: var(--class-list-color);
}

div.classObject > p.deliveryMode {
  display: block;
  font-size: 8.5px;
  opacity: 0.6;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 10px;
  color: var(--bg-label);
  transition: filter 0.1s;
}

.closeButton:hover {
  filter: brightness(0.8);
}

app-timetable {
  float: right;
  width: calc(96% - max(160px, 18%));
}

app-class-search {
  position: fixed;
  left: 40px;
  bottom: 80px;
}
