button {
  background-color: white;
  color: black;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: none;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #bc9fc5;
}

button > fa-icon {
  color: #2f033d;
  font-size: 11px;
}

button:focus {
  outline: none;
}