div.dayColumn {
    width: 100%;
    height: 600px;
    background-color: #bd527b;
    top: 0%;
    position: relative;
}

div.scheduledClass {
    position: absolute;
    background-color: #8b2962;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e6dede
}