<div class='dayColumn'>
    <div 
        class='scheduledClass'
        *ngFor='let session of this.sessionList'
        [class.editing]='this.displaySessionAsEditing(session)'
        [class.notEditing]='this.displaySessionAsNotEditing(session)'
        [style.top.%]='this.getSessionTopPercentage(session.classSession)'
        [style.height.%]='this.getSessionHeightPercentage(session.classSession)'
        (click)='this.handleClicked(session)'
    >
        <p>
            {{session.className}}
            <br />
            {{session.classType}}0{{session.classStream + 1}}
        </p>
    </div>
</div>