<div class='dayColumn'>
    <div
        class='sessionBlock'
        *ngFor='let block of this.sessionStartTimes'
        [style.height.%]='this.sessionBlockHeight'
        [style.top.%]='this.sessionBlockTopOffset(block)'
    >
    </div>
    <div 
        class='scheduledClass'
        *ngFor='let session of this.sessionList'
        [class.editing]='this.displaySessionAsEditing(session)'
        [class.notEditing]='this.displaySessionAsNotEditing(session)'
        [style.top.%]='this.getSessionTopPercentage(session.classSession)'
        [style.height.%]='this.getSessionHeightPercentage(session.classSession)'
        (click)='this.handleClicked(session)'
    >
        <p>
            <b>{{session.className}}</b> {{session.classType}}0{{session.classStream + 1}}
            <br />
            {{session.classSession.location}}
        </p>
    </div>
</div>