<div 
    *ngIf='this.isActive'
    class='modalShade'
    [class.isActive]='this.isActive'
>
    <div class='modalBox'>
        <p class='modalHeading'>{{ this.modalSettings.title }}</p>
        <p class='modalText'>{{ this.modalSettings.text }}</p>

        <ng-container #contentContainer
            *ngIf='this.modalSettings.content' 
            [ngTemplateOutlet]='this.modalSettings.content'>

        </ng-container>

        <div class='modalButtonContainer'>
            <button 
                *ngFor='let button of this.modalSettings.buttons' 
                class='modalButton'
                [style.background-color]='button.colour'
                (click)='button.action(this.getContent())'
            >
                {{ button.text }}
            </button>
        </div>
    </div>
</div>