div.modalShade {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.1s;
}

div.modalShade.isActive {
    background-color: rgba(0, 0, 0, 0.3);
}

div.modalBox {
    box-sizing: border-box;
    padding: 10px 25px;
    position: relative;
    max-width: 350px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #5d595e;
    background-color: #29142f;
    color: white;
    font-family: 'Lato', Arial, sans-serif;
}

p.modalHeading {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalText {
    font-size: 12px;
}

div.modalButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

button.modalButton,
        button.closeButton:active,
        button.closeButton:focus {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: transparent;
    outline: none;
    font-family: 'Lato', Arial, sans-serif;
    color: white;
    margin-left: 5px;
    transition: filter 0.4s;
}

button.modalButton:hover {
    filter: brightness(0.7);
}

textarea.modalText {
    resize: vertical;
    min-height: 20px;
    max-height: 300px;
    width: 100%;
    margin-bottom: 10px;
    display: block;
}