:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentContainer {
    width: 75vw;
    max-width: 900px;
    min-width: 700px;
    margin: auto auto;
}

footer {
    position: relative;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
}

footer > .textWrap {
    font-size: 12px;
    text-align: center;
}

.footerText {
    margin-right: 5px;
    color: var(--footer-color);
    transition: filter 0.2s;
}

a.footerText:hover, .button.footerText:hover {
    filter: brightness(1.4);
}

span.footerText.button {
    text-decoration: underline;
    cursor: pointer;
}

textarea.feebackTextarea {
    resize: vertical;
    min-height: 40px;
    max-height: 300px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 12px;
}

input.feedbackEmail {
    resize: none;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
}

input.feedbackExtra {
    display: none;
}