<div class='contentContainer'>
    <router-outlet></router-outlet>
</div>
<footer>
    <app-theme></app-theme>
    <app-install></app-install>
    <div class='textWrap'>
        <span class='footerText'>Not affiliated with UQ. Always check the official course timetable. </span>
        <br>
        <a class='footerText' href='https://facebook.com/uqplanner'>Facebook</a>
        <a class='footerText' href='https://github.com/WillCS/timetable-planner-sequel'>Github</a>
        <a class='donate' [href]='this.donateLink'>Donate</a>
        <a href='https://forms.gle/ChhLWCTurVfGKKiA7' target="_blank">
            <span class='footerText button'>Give Feedback</span>
        </a>
    </div>
</footer>