.contentContainer {
    width: 980px;
    margin: 50px auto;
}

footer {
    position: fixed;
    bottom: 0px;
    font-size: 9px;
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
}

.footerText {
    margin-right: 5px;
    color: #a092a5;
}