:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentContainer {
    width: 66vw;
    max-width: 1000px;
    min-width: 700px;
    margin: auto auto;
}

footer {
    position: relative;
    width: 100vw;
    margin-bottom: 10px;
    user-select: none;
}

footer > .textWrap {
    font-size: 9px;
    text-align: center;
}

.footerText {
    margin-right: 5px;
    color: var(--footer-color);
}

span.footerText.button {
    text-decoration: underline;
    cursor: pointer;
}

textarea.feebackTextarea {
    resize: vertical;
    min-height: 40px;
    max-height: 300px;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

input.feedbackExtra {
    display: none;
}