div.timeLabels {
    position: absolute;
    height: 620px;
    width: 50px;
    flex: 0 0 100%;
    left: 10px;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.timestamp {
    margin: 0px;
    height: 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 12px;
    transform: translate(-65px, -10px);
    font-weight: bold;
}

div.calendarColumnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 650px;
}

div.calendarColumn {
    display: inline-block;
    width: 150px;
    height: 100%;
    margin-left: 3px;
}

div.calendarColumn > .dayHeader {
    font-size: 10px;
    font-weight: bold;
}

div.calendarColumn > p {
    margin: 5px auto;
}
