<div class='title'>
    <input 
        type='text' 
        placeholder='Semester Timetable'
        value='{{this.name}}'
        (change)='this.setTitle($event)'
    />
  
<div class='topMenu'>
    <div class='timetableList'>
        <button
            class='timetableBtn'
            *ngFor='let timetable of this.calendarNames'
            (click)='this.handleTimetableClicked(timetable)'
        >
            {{timetable}}
        </button>
        <button
            class='timetableBtn addCalBtn'
            (click)='this.newTimetable()'
        >
            <fa-icon [icon]='faPlus'></fa-icon>
        </button>

    </div>
    <div class='controls'>
        <button
            class='saveButton'
            (click)='this.handleSaveClicked()'
        >
            S
        </button>
        <button
            class='deleteButton'
            (click)='this.handleDeleteClicked()'
        >
            D
        </button>
    </div>
    <app-calendar-export-button
        [selections]='this.selections'
        [classList]='this.classList'
        [name]='this.name'
    ></app-calendar-export-button>
</div>
  
<div class='calendarColumnContainer'>
    <div *ngFor='let day of this.weekdayIndices' class='calendarColumn'>
        <div 
            *ngIf='day == 0'
            class='timeLabels'
        >
            <p class='timestamp' *ngFor='let hour of this.timetableHours'>{{hour | time}}</p>
            <p class='timestamp'></p>
        </div>
        <p class='dayHeader'>{{this.weekdays[day]}}</p>
        <app-timetable-day
            [sessionList]='this.getSessionsOnDay(day)'
            [editing]='this.editing'
            [editingClassName]='this.editingClassName'
            [editingClassType]='this.editingClassType'
            [selections]='this.selections'
            (sessionClick)='this.sessionClick.emit($event)'
        >
        </app-timetable-day>
    </div>
</div>