<div>
    <div class='plannerControls'>

    </div>

    <app-timetable></app-timetable>

    <div class='classContainer'>
        <div class='classList'>
            <div
                class='classObject'
                *ngFor='let class of this.calendar.getClasses()' 
            >
                <p>{{class.name}}</p>
                <app-close-button
                    class='classCloseButton'
                    (click)='this.onClassCloseClicked(class.name)'></app-close-button>
            </div>
        </div>

        <app-class-search
            (classAdded)='this.onClassAdded($event)'
        >
        </app-class-search>
    </div>
</div>