<div class='dayColumn'>
    <div
        class='sessionBlock'
        *ngFor='let block of this.sessionStartTimes'
        [style.height.%]='this.sessionBlockHeight'
        [style.top.%]='this.sessionBlockTopOffset(block)'
        (click)='this.handleBlockClicked()'
    >
    </div>
    <div 
        class='scheduledClass'
        *ngFor='let session of this.sessionList'
        [class.editing]='this.displaySessionAsEditing(session)'
        [class.notEditing]='this.displaySessionAsNotEditing(session)'
        [class.clashing]='this.isSessionClashing(session)'
        [ngStyle]='this.getSessionClashStyling(session)'
        [style.top.%]='this.getSessionTopPercentage(session.classSession)'
        [style.height.%]='this.getSessionHeightPercentage(session.classSession)'
        (mousedown)='this.handleClicked(session)'
    >
        <p>
            <b>{{session.className }}</b> 
            {{session.classType|slice:0:1}}{{session.classStream + 1 | number:'2.0'}}
            <br />
            {{session.classSession.location}}
        </p>
    </div>
</div>