div.dayColumn {
    width: 100%;
    height: 600px;
    top: 0%;
    position: relative;
    overflow: hidden;
}

div.sessionBlock {
    background-color: #56407f;
    position: absolute;
    width: 100%;
}

div.scheduledClass {
    position: absolute;
    background-color: #b569af;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    cursor: pointer;
    padding-left: 5px;
    overflow: hidden;
}

div.scheduledClass > p {
    height: 100%;
    margin: 0px;
    font-size: 12px;
}

div.scheduledClass.editing,
        div.scheduledClass.clashing.editing {
    background-color: #e0c4decc;
}

div.scheduledClass.editing.focused {
    background-color: #7fb3ee;
}

div.scheduledClass.clashing {
    background-color: #ed6164;
}

div.scheduledClass.notEditing:hover {
    cursor: default;
}
