/* You can add global styles to this file, and also import other style files */
:root {
    --bg-light: #2f033d;
    --bg-dark: #2a0237;
    --search-border-color: transparent;
    --search-bar-color: white;
    --search-button-color: #b09fb6;
    --title-color: white;
    --title-accent-color: #918694;
    --footer-color: #a092a5;
    --session-block: #4eace2;
    --session-block-hover: #7fb3ee;
    --session-clash: #d80209;
    --session-editing: #e0c4decc;
    --calendar-label: white;
    --block-text: white;
    --accent-color: #715678;
    --class-list-bg: #381343;
    --class-list-color: white;
    --bg-label: #bbbbbb;
    --control-button-color: white;
    --timetable-button-bg: #643d6e;
    --timetable-button-color: white;
    --timetable-stripes-light: rgba(255, 255, 255, 0.13);
    --timetable-stripes-dark: rgba(255, 255, 255, 0.1);
    --add-timetable-button-bg: #712e81;
    --add-timetable-button-color: white;
    --global-transitions: none;
}

html {
    height: 100%;
}

body {
    height: 100vw;
    overflow: hidden;
    margin: 0px;
    height: 100%;
    font-family: 'Lato', Arial, sans-serif;
    color: white;
    background: linear-gradient(
        -45deg,
        var(--bg-light),
        var(--bg-dark)
    );
    position: relative;
}

* {
    transition: var(--global-transitions);
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}