.transition {
  --global-transitions: all 0.65s;
}

.classic {
  --bg-light: #2f033d;
  --bg-dark: #2a0237;
  --search-border-color: transparent;
  --search-bar-color: white;
  --search-button-color: #b09fb6;
  --title-color: white;
  --title-accent-color: #918694;
  --footer-color: #a092a5;
  --session-block: #4eace2;
  --session-block-hover: #7fb3ee;
  --session-clash: #d80209;
  --session-editing: #e0c4decc;
  --calendar-label: white;
  --block-text: white;
  --accent-color: #715678;
  --class-list-bg: #381343;
  --class-list-color: white;
  --class-list-button: rgba(255, 255, 255, 0.8);
  --class-list-button-color: #381343;
  --class-list-dropdown-bg: white;
  --class-list-dropdown-btn: #381343;
  --bg-label: #eaeaea;
  --control-button-color: white;
  --timetable-button-bg: #643d6e;
  --timetable-button-color: white;
  --timetable-stripes-light: rgba(255, 255, 255, 0.13);
  --timetable-stripes-dark: rgba(255, 255, 255, 0.1);
  --add-timetable-button-bg: #712e81;
  --add-timetable-button-color: white;
  --donate-btn-color: rgba(255, 255, 255, 0.65);
  --donate-btn-hover: rgba(255, 255, 255, 0.8);
  --modal-bg: #2a0237;
  --week-color: #e6e6e6;
  --selected-week-color: #ee3036;
  --current-week-color: rgba(255, 255, 255, 0.3);
  --week-accent-color: #3f134c;
}

.light {
  --bg-light: #ffffff;
  --bg-dark: #ffffff;
  --search-border-color: black;
  --search-bar-color: white;
  --search-button-color: #545454;
  --title-color: black;
  --title-accent-color: #000000;
  --footer-color: #141414;
  --session-block: #ff9f20;
  --session-block-hover: #ffb85ae3;
  --session-clash: #ea4b23;
  --session-editing: #c4cfe0cc;
  --calendar-label: black;
  --block-text: white;
  --accent-color: #ffffff00;
  --class-list-bg: #8a8a8a;
  --class-list-color: white;
  --class-list-button: white;
  --class-list-button-color: black;
  --class-list-dropdown-bg: white;
  --class-list-dropdown-btn: #8a8a8a;
  --bg-label: #000000;
  --control-button-color: black;
  --timetable-button-bg: #000000;
  --timetable-button-color: white;
  --timetable-stripes-light: rgba(0, 0, 0, 0.13);
  --timetable-stripes-dark: rgba(0, 0, 0, 0.1);
  --add-timetable-button-bg: #000000;
  --add-timetable-button-color: white;
  --donate-btn-color: rgba(0, 0, 0, 0.65);
  --donate-btn-hover: rgba(0, 0, 0, 0.8);
  --modal-bg: #525252;
  --week-color: #525252;
  --selected-week-color: #000000;
  --current-week-color: rgba(0, 0, 0, 0.3);
  --week-accent-color: #eeeeee;
}

.black-and-white {
  --bg-light: #ffffff;
  --bg-dark: #ffffff;
  --search-border-color: black;
  --search-bar-color: white;
  --search-button-color: #545454;
  --title-color: black;
  --title-accent-color: #000000;
  --footer-color: #141414;
  --session-block: #000000;
  --session-block-hover: #525252e3;
  --session-clash: #ff3300;
  --session-editing: #c4cfe0cc;
  --calendar-label: black;
  --block-text: white;
  --accent-color: transparent;
  --class-list-bg: #525252;
  --class-list-color: white;
  --class-list-button: rgba(255, 255, 255, 0.9);
  --class-list-button-color: black;
  --class-list-dropdown-bg: white;
  --class-list-dropdown-btn: black;
  --bg-label: #000000;
  --control-button-color: black;
  --timetable-button-bg: #000000;
  --timetable-button-color: white;
  --timetable-stripes-light: rgba(0, 0, 0, 0.13);
  --timetable-stripes-dark: rgba(0, 0, 0, 0.1);
  --add-timetable-button-bg: #000000;
  --add-timetable-button-color: white;
  --donate-btn-color: rgba(0, 0, 0, 0.65);
  --donate-btn-hover: rgba(0, 0, 0, 0.8);
  --modal-bg: #525252;
  --week-color: #525252;
  --selected-week-color: #000000;
  --current-week-color: rgba(0, 0, 0, 0.3);
  --week-accent-color: #eeeeee;
}

.dark {
  --bg-light: #212121;
  --bg-dark: #2d2d2d;
  --search-border-color: transparent;
  --search-bar-color: white;
  --search-button-color: #545454;
  --title-color: #ffffff;
  --title-accent-color: #bebebe;
  --footer-color: #9e9e9e;
  --session-block: #52cc74;
  --session-block-hover: #89cea0;
  --session-clash: black;
  --session-editing: #ffffff57;
  --calendar-label: #e8e8e8;
  --block-text: white;
  --accent-color: #ffffff;
  --class-list-bg: #52525000;
  --class-list-color: #e8e8e8;
  --class-list-button: #555555;
  --class-list-button-color: #e8e8e8;
  --class-list-dropdown-bg: white;
  --class-list-dropdown-btn: #212121;
  --bg-label: #949494;
  --control-button-color: gainsboro;
  --timetable-button-bg: #ffffff;
  --timetable-button-color: black;
  --timetable-stripes-light: rgba(255, 255, 255, 0.13);
  --timetable-stripes-dark: rgba(255, 255, 255, 0.1);
  --add-timetable-button-bg: #7b7b7b;
  --add-timetable-button-color: white;
  --donate-btn-color: rgba(255, 255, 255, 0.65);
  --donate-btn-hover: rgba(255, 255, 255, 0.8);
  --modal-bg: #1d1d1d;
  --week-color: white;
  --selected-week-color: #52cc74;
  --current-week-color: rgba(255, 255, 255, 0.3);
  --week-accent-color: #555555;
}
