.light {
  --bg-light: #ffffff;
  --bg-dark: #ffffff;
  --search-border-color: black;
  --search-bar-color: white;
  --search-button-color: #545454;
  --title-color: black;
  --title-accent-color: #000000;
  --footer-color: #141414;
  --session-block: #534ee2;
  --session-block-hover: #4b61cbe3;
  --session-clash: #ea4b23;
  --session-editing: #c4cfe0cc;
  --calendar-label: black;
  --block-text: white;
  --accent-color: #ffffff;
  --class-list-bg: #393939;
  --class-list-color: white;
  --bg-label: #3b3b3b;
  --control-button-color: black;
  --timetable-button-bg: #000000;
  --timetable-button-color: white;
  --timetable-stripes-light: rgba(0, 0, 0, 0.13);
  --timetable-stripes-dark: rgba(0, 0, 0, 0.1);
  --add-timetable-button-bg: #000000;
  --add-timetable-button-color: white;
}